<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               icon="icons/icons8-code-16-white.png"
               label="EMF Support">
            <command
                  commandId="de.dc.fx.emf.support.ide.command.generateStub"
                  label="Generate Stub"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.dc.fx.emf.support.ide.handler.GenerateStubHandler"
            id="de.dc.fx.emf.support.ide.command.generateStub"
            name="Generate Stub">
      </command>
   </extension>

</plugin>
